body {
	margin: 0;
	padding: 0;
	background: rgb(252, 245, 245);
}

/* Navbar CSS */
nav {
	background: #7560cb;
	color: white;
}

nav a {
	color: white;
}

nav a:hover {
	color: white;
	opacity: .8;
}

.navbar-toggler {
	border: 1px solid white;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='white' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Card Section */
.section-card {
	position: relative;
	top: 80px;
	padding: 25px 15px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.cust-card {
	margin: 5px;
	width: 350px;
	padding: 25px;
	text-align: center;
	background: white;
	box-shadow: 1px 1px 5px rgb(218, 218, 218);
}

.cust-card h2 {
	font-size: 35px;
	margin: 0;
	padding: 0;
}

.cust-card h4 {
	margin: 10px;
	padding: 0;
	opacity: 0.8;
	font-weight: normal;
}

.cust-card a {
	margin-top: 25px;
	text-decoration: underline;
	text-transform: uppercase;
	color: rgb(27, 158, 49);
	font-size: 12px;
	opacity: 0.8;
}
